html, body {
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: white;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

.body-section {
    padding-bottom: 70px;
}

a {
    color: #7F7B77; 
 }
 
 a:hover {
     color: #333333;
     text-decoration: underline;
 }

.breadcrumb {
    background-color: #fff;
    color: black;
}

.breadcrumb a {
    color: #90907F;
}

.list-group-item.active {
    background-color: #77777F;
    border-color: #77777F; 
}

.d-title {
    color: #333333;
}

.huge {
    font-size: 20px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: green!important;
}

footer {
    background-color: #222222;
    height: 50px;
    color: white;
    line-height: 50px;
    letter-spacing: .5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}